* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

.btn-ex1 {
}

.input-form {
    margin-bottom: 10px;
}

.table__number {
    max-width: 200px;
    margin-top: 10px;
}

.ex {
    &-heading {
        margin-bottom: 10px;
        display: block;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    &-result {
        margin-top: 10px;
        color: red;
        font-size: 24px;
        text-decoration: underline;
        display: inline-block;
    }
}

.triangle__wrap {
    margin-top: 20px;
    color: violet;
    font-size: 28px;
}

.form__wrap {
    margin: 20px 0;
}

.fizz__buzz {
    &-wrap {
        // margin: 20px 0;
        display: flex;
        max-width: 900px;
        flex-wrap: wrap;
    }
    // &-heading {
    //     margin-bottom: 10px;
    //     display: block;
    //     align-self: center;
    // }
    &-item {
        &__wrap {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
        padding: 8px;
        min-width: 50px;
        width: max-content;
        height: 50px;
        background-color: red;
        border: 1px solid yellow;
        display: flex;
    }
    &-text {
        margin: auto;
        color: white;
    }
}
