* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

.input-form {
  margin-bottom: 10px;
}

.table__number {
  max-width: 200px;
  margin-top: 10px;
}

.ex-heading {
  margin-bottom: 10px;
  display: block;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.ex-result {
  margin-top: 10px;
  color: red;
  font-size: 24px;
  text-decoration: underline;
  display: inline-block;
}

.triangle__wrap {
  margin-top: 20px;
  color: violet;
  font-size: 28px;
}

.form__wrap {
  margin: 20px 0;
}

.fizz__buzz-wrap {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
}
.fizz__buzz-item {
  padding: 8px;
  min-width: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 50px;
  background-color: red;
  border: 1px solid yellow;
  display: flex;
}
.fizz__buzz-item__wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.fizz__buzz-text {
  margin: auto;
  color: white;
}
