body {
    padding: 50px;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.update-img {
    width: 200px;
}

.form-check.product-check {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form-check .form-check-input {
    margin-right: 10px;
}

.form-control.product-quantity {
    width: initial;
    display: inline-block;
    margin-left: 10px;
}
